html {
    min-height: 100vh;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    color: hsla(233, 89%, 5%, 1);
    text-shadow: 1px 1px 0 hsla(233, 89%, 5%, 0.2);
    font-family: "proxima-soft", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a,
header a:visited {
    text-decoration: none;
    color: inherit;
}

header a:hover {
    border-bottom: 2px solid hsla(233, 89%, 5%, 0.5);
}

@media (min-width: 501px) {
    .container {
        margin: 0 auto;
        padding-left: 10em;
        padding-right: 10em;
    }
}
@media (max-width: 500px) {
    .container {
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }
}

a,
a:visited {
    color: hsla(234, 85%, 60%, 1);
    text-decoration: none;
}

a:hover {
    border-bottom: 2px solid hsla(234, 85%, 60%, 0.5);
}

a:focus {
    outline: solid 2px;
}

form > div {
    margin-bottom: 1rem;
}

textarea {
    font-family: inherit;
    font-size: inherit;
    height: auto;
}

@media (min-width: 501px) {
    textarea {
        min-width: 20rem
    }
}

@media (max-width: 500px) {
    textarea {
        width: 100%;
    }
}

.syndication-checkbox {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0.2rem 0.5rem;
    height: 2rem;
}

.syndication-checkbox img {
    display: inline;
    width: 1rem;
    height: 1rem;
}

.syndication-checkbox span {
    height: 1rem;
}

.media-preview img {
    width: auto;
    height: 25vh;
}